{
  "presets": [
    [
      "@babel/preset-env"
      // {
      //   "useBuiltIns": "usage",
      //   "corejs": "2"
      // }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
    // [
    //   "transform-runtime",
    //   {
    //     "helpers": false,
    //     "polyfill": false,
    //     "regenerator": true,
    //     "moduleName": "babel-runtime"
    //   }
    // ]
  ]
}